<!DOCTYPE html>
<header>
    <h1>Stock-Analyst Recommendation Evaluator</h1>
    <p>This application uses the yfinance API to retrieve data on historical prices as well as analyst buy/hold/sell recommendations.
    <br>These recommendations are evaluated based on the mean return on the stock for a given recommendation type (ie Buy or Sell)
    <br> over varying time periods  .</p>

    <p>The API is capable of retrieving stock recommendations for most publicly traded, large-cap companies in the US.
    <br>However, some companies may not be available.</p>
    <p>Some great companies to try are Nvidia(NVDA), Tesla(TSLA), AT&T(T), Apple(AAPL)</p>
</header>
<div class="container">
  <form method ="POST">

    <label for="ticker" >Enter Ticker: </label>
    <input type="text" id="ticker" name="ticker" placeholder="ie NVDA">

    <input type="submit" value="Submit">

  </form>
</div>
