<!DOCTYPE html>
<header>
    <h1>How Accurate are Stock Analyst Recommendations?</h1>
    <p>This application uses the yfinance API to retrieve data on historical prices as well as analyst buy/hold/sell recommendations.
    <br>These analyst recommendations are evaluated based on the distribution of returns after certain recommendation types have been made.</p>

    <p>The API df_recos, df_prices = get_frames(symbol)
        plot_buy, plot_sell = format_dfs(df_recos,df_prices)
        return_melt_short, return_melt_long = create_melted_dfs(df_prices, df_recos)
        all_plots(df_prices, plot_buy, plot_sell, return_melt_short, return_melt_long, symbol)
        image = [i for i in os.listdir('static/images') if i.endswith('.png')][0]
        return render_template('plots.html', name = 'new_plot', user_image = image)is capable of retrieving stock recommendations for most publicly traded, large-cap companies in the US.
    <br>However, some companies do not have analyst recommendation data available.</p>
    <p>Some great companies to try are Nvidia(NVDA), Tesla(TSLA), AT&T(T), Apple(AAPL)</p>
</header>
<div class="container">
  <form method ="POST">

    <label for="Ticker" >Enter Ticker: </label>
    <input type="text" id="Ticker" name="Ticker" placeholder="ie NVDA">
    <input type="submit" value="Submit">

  </form>
</div>
